<form class="form-signin" [formGroup]="registerForm" (submit)="submit()">
  <h1 class="h3 mb-3 font-weight-normal">Register</h1>
  <input
    formControlName="first_name"
    type="text"
    class="form-control"
    placeholder="First Name"
  />
  <input
    formControlName="last_name"
    type="text"
    class="form-control"
    placeholder="Last Name"
  />
  <input
    formControlName="email"
    type="email"
    class="form-control"
    placeholder="Email"
  />
  <input
    formControlName="password"
    type="password"
    class="form-control"
    placeholder="Password"
  />
  <input
    formControlName="confirm_password"
    type="password"
    class="form-control"
    placeholder="Confirm Password"
  />

  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Register
  </button>
</form>
